{
	http_port 8080
	https_port 8443
	experimental_http3
}

discoin.zws.im:8443

encode / {
	gzip
	zstd
}

reverse_proxy / {
	to api:3000
	health_path /health
	health_status 200
	transport http {
		read_buffer 4096
	}
}
